<!DOCTYPE html>
<html xmlns="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<h1>Mon Journal Intime</h1>
<a th:href="@{/ajoutjournal}" class="btn btn-primary">Ajouter un journal</a><br>
<a th:href="@{/ajoutentree}" class="btn btn-primary">Ajouter une entree</a>
<a th:href="@{/listerentrees}" class="btn btn-primary">Lister les entrees</a>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>